Project_7/Grupo_1.dtd

<!ELEMENT TEI (teiHeader, text)>
<!ATTLIST TEI xmlns CDATA #IMPLIED>

<!ELEMENT teiHeader (fileDesc)>
<!ELEMENT fileDesc (titleStmt, publicationStmt, sourceDesc)>

<!ELEMENT titleStmt (author| title| respStmt)*>
<!ELEMENT author (#PCDATA | hi)*>
<!ELEMENT hi (#PCDATA | drug | lb | locus | geoName | condition | precaution | result | intervention | ingredient | dosage | ew | pc | term)*>
<!ATTLIST hi rend (bold | italic) #IMPLIED>
<!ELEMENT title (#PCDATA | pc | hi)*>
<!ATTLIST title type CDATA #IMPLIED>
<!ELEMENT respStmt (resp, name+)>
<!ELEMENT resp (#PCDATA)>
<!ELEMENT name (#PCDATA)>

<!ELEMENT publicationStmt (p+)>
<!ELEMENT sourceDesc (bibl)>
<!ELEMENT bibl (#PCDATA | term | lb | choice | reg | orig | title | author | pubPlace | date | publisher)*>
<!ELEMENT pubPlace (#PCDATA)>
<!ELEMENT date (#PCDATA)>
<!ELEMENT publisher (#PCDATA)>

<!ELEMENT text (body)>
<!ELEMENT body (div+)>
<!ELEMENT div (head | p+ | pb* | figure | graphic)*>
<!ATTLIST div style CDATA #IMPLIED>
<!ELEMENT head (hi+ | lb | locus | drug)*>
<!ATTLIST head type CDATA #IMPLIED>
<!ATTLIST head n CDATA #IMPLIED>
<!ELEMENT n (#PCDATA)>
<!ELEMENT p (#PCDATA | hi | figure | graphic | choice | reg | orig | precaution | lb | pc | geoName | drug | condition | patient | locus | time | prep-med | ingredient | excipient | herb | dosage | ew | result | intervention | pb | bibl | term)*>
<!ATTLIST p n CDATA #IMPLIED>
<!ATTLIST p hi CDATA #IMPLIED>
<!ELEMENT pc (#PCDATA)>
<!ELEMENT choice (orig, reg)>
<!ELEMENT orig (#PCDATA | pc | lb)*>
<!ELEMENT reg (#PCDATA | pc | lb)*>
<!ELEMENT figure (graphic)>
<!ELEMENT graphic EMPTY>
<!ATTLIST graphic url CDATA #REQUIRED>
<!ELEMENT pb EMPTY>
<!ATTLIST pb n CDATA #REQUIRED>
<!ELEMENT lb EMPTY>

<!ELEMENT term (#PCDATA)>
<!ATTLIST term rend (italic) #IMPLIED>

<!ELEMENT drug (#PCDATA | lb | pc | ew | pb | figure | graphic)*>
<!ELEMENT condition (#PCDATA | lb | locus | pc | ew | pb | figure | graphic)*>
<!ELEMENT patient (#PCDATA | condition | pc | lb)*>
<!ELEMENT locus (#PCDATA)>
<!ELEMENT geoName (#PCDATA | pc | lb)*>
<!ELEMENT time (#PCDATA | lb | pc)*>
<!ELEMENT ew (#PCDATA | pc)*>
<!ELEMENT result (#PCDATA | condition | intervention | patient | lb | pc | excipient | locus | choice | reg | orig)*>
<!ELEMENT intervention (#PCDATA | prep-med | ingredient | time | condition | patient | drug | dosage | pc | locus | lb | result | excipient)*>
<!ELEMENT precaution (#PCDATA | pc | dosage | drug | geoName | patient | condition | result | intervention | lb | ingredient | pb)*>
<!ELEMENT prep-med (#PCDATA | ingredient | drug | dosage | excipient | herb | lb | result | pc | ew | time | figure | graphic | choice | reg | orig | pb)*>
<!ELEMENT ingredient (#PCDATA | drug | herb | excipient | dosage | time | lb | choice | reg | orig)*>
<!ELEMENT excipient (#PCDATA | pc | lb | choice | reg | orig)*>
<!ELEMENT herb (#PCDATA | lb | pc)*>
<!ELEMENT dosage (#PCDATA | pc | lb | excipient | choice | reg | orig)*>